<html>
<head>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.js"></script>
    <script src="/javascript/jquery-3.1.1.js"></script>
    <script src="/javascript/frontjs2.js"></script>
</head>
<body>
<br><br>
<div class="container">
    <div class="ui cards">
        {{#each items}}
            <div class="card">
                <div class="content">
                    <form action="/delete" method="get">
                        <span class="item" style="cursor:pointer">
                            <div class="header">{{name}}</div>
                            <div class="meta">&#8377;{{price}}</div>
                        </span>
                        <div class="right floated header">
                            <input type="submit" value="&#10005;">
                        </div>
                        <input type="text" hidden name="delthis" value="{{id}}">
                    </form>
                </div>
            </div>
        {{/each}}
    </div>
</div>
<br>
<br>
<br>

<form class="ui form" action="/addproduct" method="post">
    <div class="field">
        <label>Enter Id:</label>
        <input type="text" name="itemid" id="itemid" placeholder="ID">
    </div>
    <div class="field">
        <label>Enter Name:</label>
        <input type="text" name="itemname" id="itemname" placeholder="Name">
    </div>
    <div class="field">
        <label>Enter Price:</label>
        <input type="text" name="itemprice" id="itemprice" placeholder="Price">
    </div>
    <button class="ui button" type="submit">Add Product</button>
</form>

</body>
</html>